.cells-wrapper {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 80px;
  height: 80px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.rows-wrapper {
  display: flex;
  flex-direction: column;
}

.soldier1 {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: brown;
  border: 2px solid transparent;
  cursor: pointer;
  transition: border-color 0.3s;
}
.soldier3 {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: brown;
  border: 5px solid gold;
  cursor: pointer;
  transition: border-color 0.3s;
}

.soldier3:hover {
  border-color: aqua;
}
.enemy-soldier2 {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: darkslateblue;
}
.enemy-soldier4 {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: darkslateblue;
  border: 5px solid gold;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.question-box {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
}

.answer-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.answer {
  border: 1px solid blue;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
}

.answer:hover {
  background-color: bisque;
}

.wait {
  padding: 20px;
  border: 5px solid red;
  border-radius: 20px;
}
